doctype

html

	include ./head.jade

	body

	div

		p First Paragraph

		p
			| here this is my first block of the paragraph --> "|" is the symbol to use one para or part
			br
			| here this is my second block of the paragraph


		p(id="2nd_para", class="myclass").
				here this is my first block of the paragraph --> use () for more tags


		#2nd_div.1stClass.2ndClass
			If no tags are mentioned it directly uses div tags
			br
			# is used for id
			br
			"." is used for classes
			br
			can have multiple classes

		ul
			li#list
				a(href="#") 1st
			li#list
				a(href="#") 2nd
			li#list
				a(href="#") 3rd

		ul
			li#list: a(href="#") 1st
			li#list: a(href="#") 2nd
			li#list: a(href="#") 3rd

		//- Comment wont be displayed in the HTML fille
		// these comments will be shown in page source


		//- Interpolation( using javascript in html using Jade)
		- myName = "Aditya"
		p Hello  #{myName}


		//- If you want to use javascript here, just do #{Your Java Script Code}
		p 22*2 = #{22*2}

		- myGradesArray = [3.67, 3.67, 3.55, 4]

		ul
			li#list: a(href="#") #{myGradesArray[0]}
			li#list: a(href="#") #{myGradesArray[1]}
			li#list: a(href="#") #{myGradesArray[2]}
			li#list: a(href="#") #{myGradesArray[3]}


		//- How to print the values directly
		- sayHello = "Hello, How are you?"
		p= sayHello


		//- How to use tags and not use tags encoding
		- hey = "<u> Hello Man </u>"
		//- will have tag
		p= hey

		//- will not have tag
		p!= hey
		p !{hey}

		- date = new Date()
		- hour = date.getHours()

		-if ((hour >= 6) && (hour <= 17)){
			h3 Day Time
		- } else {
			h3 Night Time
		- }



		//- This can also be written using indentation
		- age = 18

		if ((age >= 16) && (age < 18))
			h3 You can drive
		else if age >= 18
			h3 You can drive and vote
		else
			h3 You can wait till you're 16

		//- unless comes out negative if the condition is true

		unless age >= 16
			h3 You'll drive at 16
		else
			h3 You can drive



		//- You can also use the ternary operator

		- dayTime = (((hour >= 6) && (hour <= 17)) ? 'Day Time' : 'Night Time')

		h3 #{dayTime}


		//- Case works like Switch
				- name = "Sue"

				case name
					when "Sally"
						h3 Hi Sally
					when "Sue"
						h3 Hi Sue
					default
						h3 Hi You

		//- How to use javascript in jade
		script.
			console.log('YO I will be printed on the screen')


		- formData = {"type": "text", "name": "fName"}

		span First Name
		input(type= formData.type, name = formData.name)


		p How to loop
		- fruits = ['apple','banana','mango']
		ul
			- for(i=0;i<fruits.length; i++){
				li #{fruits[i]}
			- }
